@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

:root {
  --blue: #3273dc;
  --blue_hover: #2366d1;
  --green: #26cc96;

  --color-tooltip-bg: var(--blue_hover);
  --header-bg: var(--blue);
  --header-line-hover-bg: var(--blue_hover);
  --link-color: var(--blue);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:not(.header-link):hover {
  text-decoration: underline;
}

.header {
  background-color: var(--header-bg);
  color: #fff;
  line-height: 1;
  padding-block: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  width: 85vw;
}

.header-logo {
  height: 40px;
  width: 50px;
  margin-left: -3px;
  margin-top: 5px;
}

.navbar>ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header-link {
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  transition: background-color 0.5s;
}

.header-link:hover {
  background-color: var(--header-line-hover-bg);
}

.github-link {
  padding: 0.5rem;
  border-radius: 50%;
}

.github-logo {
  margin-block: -3px;
  fill: currentColor;
  height: 16px;
  width: 16px;
}

.tooltipped {
  position: relative;
}

.tooltipped::after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 0.5em 0.75em;
  font:
    normal normal 11px/1.5 'Montserrat',
    sans-serif;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  color: #fff;
  background-color: var(--color-tooltip-bg);
  border-radius: 6px;
  opacity: 0;
}

.tooltipped::after {
  top: 100%;
  right: 50%;
  margin-top: 6px;
  margin-right: -16px;
}

.tooltipped:hover::after,
.tooltipped:active::after,
.tooltipped:focus::after {
  display: inline-block;
  animation-name: tooltip-appear;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: 0.4s;
}

@keyframes tooltip-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  margin: 40px auto;
  width: 85vw;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

.hero .sub-title {
  margin: 2rem auto;
}

.donate-section {
  justify-content: center;
  border: 4px solid var(--blue);
  border-radius: 5px;
  max-width: 70ch;
  margin-top: 1rem;
}

.donate-section .header {
  background-color: var(--blue);
  color: white;
  display: flex;
  justify-content: center;
}

.donate-section .content {
  display: grid;
  font-size: 15px;
  gap: 0.6em;
  padding: 0.75em;
}

.donate-section p {
  line-height: 1.4;
}

.donate-form-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.donate-form-wrapper .donate-form {
  display: flex;
  flex: 1;
}

.title {
  margin-bottom: 10px;
}

.main-content {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 40px;
}

section {
  margin-top: 40px;
}

.donate-button {
  border: 2px solid var(--green);
  border-radius: 99rem;
  color: var(--green);
  cursor: pointer;
  flex: 1;
  font-size: 1em;
  margin-top: 5px;
  padding: 4px 20px;
  transition: all 0.5s;
}

.donate-button:hover {
  background-color: var(--green);
  color: #fff;
}

.btn-1 {
  background-color: var(--blue);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.btn-1:-moz-focusring {
  outline: none;
}

a.btn-1:hover {
  background-color: var(--blue_hover);
  text-decoration: none;
}
