:root {
  --tabmix-nav-height: 56px;
}

.tabmix-nav {
  display: none;
}

@media (min-width: 800px) {
  .tabmix-nav {
    background-color: var(--sl-color-bg-nav);
    color: var(--sl-color-white);
    border-bottom: 1px solid var(--sl-color-hairline-shade);
    display: flex;
  }

  .main-pane {
    padding-top: calc(var(--tabmix-nav-height) / 2);
  }

  .right-sidebar {
    padding-top: calc(var(--sl-nav-height) + var(--tabmix-nav-height));
  }

  .sidebar-pane {
    inset-block: calc(var(--sl-nav-height) + var(--tabmix-nav-height)) 0;
  }
}

/* HELP pages */

.help-img {
  border-radius: 6px;
  margin-inline: auto;
  width: 60%;
}

@media (min-width: 1400px) {
  .help-img {
    float: right;
    margin-left: 20px;
    width: 40%;
  }
}

.default {
  font-weight: bold;
  font-style: italic;
}

.starlight-aside {
  max-width: 45rem;
}

.sl-markdown-content li > p:last-child {
  margin-bottom: 0 !important;
}

.sl-markdown-content li > ul {
  margin-top: 0;
}

.content-panel ul:not(.circle) > li {
  list-style-type: square;
}

.content-panel li > ul:not(.square) > li {
  list-style-type: circle;
}

.tabmix-help-content .sl-container {
  max-width: 90%;
}
