---
import kofiLogo from '@assets/kofiLogo.webp';
import { Image } from 'astro:assets';

interface ButtonProps {
  text?: string;
  title?: string;
  class?: string;
}

const { text, title = 'Make a Donation', class: className } = Astro.props as ButtonProps;
const buttonClass = 'support-button ' + (className ?? '');
---

{text && <span class="!mr-2">{text}</span>}
<a class={buttonClass} href="https://ko-fi.com/M4M71J13A4" target="_blank">
  <Image class="logo" src={kofiLogo} alt="image" />
  <span class="text-white">
    {title}
  </span>
</a>

<style>
  .logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
  .support-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #00c4b4;
    border-radius: 9999px;
    min-height: 1.75rem;
    border: none;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
    min-width: 7.5rem;
    transition:
      background-color 0.2s ease,
      transform 0.1s ease;
  }

  .support-button:hover {
    background: #00a896;
    transform: scale(1.02);
  }
</style>
