---
import type { Props } from '@starlight/props';

import Default from '@starlight/components/Header.astro';

const isHelpPage = Astro.props.slug.startsWith('help');
---

<div class:list={{ 'tabmix-help-content': isHelpPage }} transition:persist>
  <Default {...Astro.props} />
</div>
