---
import type { Props } from '@starlight/props';

import { default as MobileMenuFooter } from '@starlight/components/MobileMenuFooter.astro';
import { default as SidebarSublist } from '@starlight/components/SidebarSublist.astro';
import DonateButton from 'src/components/DonateButton.astro';

const { sidebar, slug } = Astro.props;

const [page] = slug.split('/');
const isHelpPage = slug.startsWith('help');
const isTroubleshooting = slug.startsWith('troubleshooting');

// collapsed other top level entries
sidebar.forEach(entry => {
  if (entry.type === 'group') {
    const label = entry.label.toLowerCase();
    entry.collapsed = label !== page && label !== 'important links';
  }
});

const help = sidebar.find(entry => entry.label === 'Help');
const helpGroup = (help && help.type === 'group' ? help : undefined)!;

helpGroup.entries.forEach(entry => {
  entry.label = entry.label.charAt(0).toUpperCase() + entry.label.slice(1);
});
---

<div class="tabmix-sidebar-header">
  <div class="flex justify-center py-2">
    <DonateButton />
  </div>

  <div class="tabmix-nav px-6 py-4">
    <ul class="top-level mx-auto flex list-none gap-6 text-base">
      <li>
        <a href="/help/links/links" class:list={{ 'hover:underline': true, active: isHelpPage }}
          >Help</a
        >
      </li>
      <li>
        <a
          href="/troubleshooting/tabmix-does-not-work"
          class:list={{ 'hover:underline': true, active: isTroubleshooting }}>Troubleshooting</a
        >
      </li>
    </ul>
  </div>
</div>

<SidebarSublist sublist={sidebar} />
<div class="md:sl-hidden">
  <MobileMenuFooter {...Astro.props} />
</div>

<script>
  const key = 'sidebar-position';
  let timeout = 0;

  function handleSidebarScroll(event: Event) {
    const sidebar = event.target as HTMLElement;
    if (!timeout) {
      timeout = window.setTimeout(() => {
        sessionStorage.setItem(key, String(sidebar?.scrollTop));
        timeout = 0;
      }, 100);
    }
  }

  document.addEventListener('astro:page-load', () => {
    // restore scroll position
    const sidebar = document.querySelector('#starlight__sidebar');
    if (sidebar) {
      sidebar.removeEventListener('scroll', handleSidebarScroll);
      sidebar.addEventListener('scroll', handleSidebarScroll);
      try {
        sidebar.scrollTop = +(sessionStorage.getItem(key) ?? 0);
      } catch {
        /* empty */
      }
    }
  });
</script>
