---
import Icon from '@starlight/user-components/Icon.astro';
import { isDownloadsInfoExist } from '@utils/helper.mjs';
import config from 'virtual:starlight/user-config';

// show link to our github repo
const links = config.social || [];
const github = links.find(link => link.icon === 'github');
if (github) {
  github.href = 'https://github.com/onemen/tabmixplus-docs';
}
---

<div class="hidden gap-4 lg:flex">
  <a
    href={isDownloadsInfoExist()
      ? '/tabmixplus-docs/download/'
      : 'https://github.com/onemen/TabMixPlus/releases/'}
  >
    <h4>Download</h4>
  </a>
  <a href="https://github.com/onemen/TabMixPlus/discussions/"><h4>Discussions</h4></a>
</div>

{
  links.length > 0 && (
    <>
      {links.map(({ label, href, icon }) => (
        <a {href} rel="me" class="sl-flex">
          <span class="sr-only">{label}</span>
          <Icon name={icon} />
        </a>
      ))}
    </>
  )
}

<style>
  @layer starlight.core {
    a {
      color: var(--sl-color-text-accent);
      padding: 0.5em;
      margin: -0.5em;
    }
    a:hover {
      color: var(--sl-color-white);
    }
  }
</style>
