---
import Default from '@starlight/components/SocialIcons.astro';
import { isDownloadsInfoExist } from '@utils/helper.mjs';
---

<div class="hidden gap-4 lg:flex">
  <a
    href={isDownloadsInfoExist()
      ? '/tabmixplus-docs/download/'
      : 'https://github.com/onemen/TabMixPlus/releases/'}
  >
    <h4>Download</h4>
  </a>
  <a href="https://github.com/onemen/TabMixPlus/discussions/"><h4>Discussions</h4></a>
</div>
<Default><slot /></Default>
