---
import DonateButton from 'src/components/DonateButton.astro';

const years = new Date().getFullYear() - 2005;
---

<div class="donate-section content-width">
  <p class="header">Please don't scroll away</p>
  <div class="content">
    <p><b>Hey there</b>,</p>
    <p>
      It's hard to believe, but it's been {years} years since I launched <b>Tab Mix Plus</b> back in
      the early days of Firefox! My passion has always been to make your browsing experience smoother
      and more efficient by enhancing Firefox's tab abilities.
    </p>
    <p>
      But keeping <b>Tab Mix Plus</b> top-notch and evolving with web standards takes continuous effort.
      New features take time to develop, and Firefox changes require my attention all the time. That's
      where you come in, my friend.
    </p>
    <p>
      A small, monthly donation - think the price of your morning coffee - could make a world of
      difference.
    </p>
    <p>
      Sincerely, thank you for your unwavering support. Together, let's keep Firefox a more awesome
      place to browse the internet!
    </p>
    <div>
      <span class="mr-1 text-wrap">
        Click here to choose your donation option and make a difference
      </span>
      <DonateButton title="Donate" />
    </div>
    <p>Remember, every bit counts!</p>
    <b>onemen</b>

    <p style="margin-top: 0.5rem">
      <b>P.S.</b> Share this link to
      <a href="https://github.com/onemen/TabMixPlus#readme">Tab Mix Plus</a> with your fellow Firefox
      enthusiasts. The more the merrier.
    </p>
  </div>
</div>

<slot />

<script is:inline>
  const urlParams = new URLSearchParams(document.location.search);
  const version = urlParams.get('version');
  if (version) {
    const title = document.getElementById('_top');
    title.textContent = `Version ${version} Installed`;
  }
</script>

<style>
  :root {
    --blue: #3273dc;
  }

  .donate-section {
    border: 4px solid var(--blue);
    border-radius: 5px;
    max-width: 70ch;
    margin-top: 1rem;
  }

  .donate-section .header {
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    padding-block: 10px;
  }

  .donate-section .content {
    display: grid;
    font-size: 15px;
    gap: 0.6em;
    padding: 0.75em;
  }

  .donate-section p {
    line-height: 1.4;
  }
</style>
